(1) print numbers from 1 to 10

In [ ]:
for i in range(1, 11):
  print(i)

1
2
3
4
5
6
7
8
9
10

2) Print even numbers from 1 to 20

In [ ]:
for i in range(2, 21, 2):
  print(i)

2
4
6
8
10
12
14
16
18
20

(3) Check if a number is positive, negative or zero.

In [ ]:
num = 0
if num > 0:
  print("Positive number")
elif num < 0:
  print("Negative number")
else:
  print("Zero")

Zero

(4) Add two numbers using operators.

In [ ]:
a = 5
b = 3
sum = a + b
print(f"The sum of {a} and {b} is: {sum}")

The sum of 5 and 3 is: 8

(5) Print multiplication table of a number.

In [ ]:
number =19
for i in range(1, 11):
    print(f"{number} x {i} = {number * i}")

19 x 1 = 19
19 x 2 = 38
19 x 3 = 57
19 x 4 = 76
19 x 5 = 95
19 x 6 = 114
19 x 7 = 133
19 x 8 = 152
19 x 9 = 171
19 x 10 = 190

(6) Find the largest among two numbers.

In [ ]:
x = 10
y = 5
if x >= y:
  print(f"{x} is the largest number.")
else:
  print(f"{y} is the largest number.")

10 is the largest number.

(7) Use a while loop to print numbers 5 to 1.

In [ ]:
i = 5
while i >= 1:
  print(i)
  i -= 1

5
4
3
2
1

(8) Print all characters in a string.

In [ ]:
s = "My name is Madhusmita"
for char in s:
  print(char)

M
y

n
a
m
e

i
s

M
a
d
h
u
s
m
i
t
a

(9) Use logical Operator to check if a number is betwen 10 and 50.

In [ ]:
n = 35
if n > 10 and n < 50:
  print(f"{n} is between 10 and 50.")
else:
  print(f"{n} is not between 10 and 50.")

35 is between 10 and 50.

(10) Sum of first 10 natural numbers.

In [ ]:
sum = 0
for i in range(1, 11):
  sum += i
print(f"The sum of the first 10 natural numbers is: {sum}")

The sum of the first 10 natural numbers is: 55

(11) Print "Odd" Or "Even" for numbers 1 to 10.

In [ ]:
for i in range(1, 11):
  if i % 2 == 0:
    print(f"{i} ->Even")
  else:
    print(f"{i} ->Odd")

1 ->Odd
2 ->Even
3 ->Odd
4 ->Even
5 ->Odd
6 ->Even
7 ->Odd
8 ->Even
9 ->Odd
10 ->Even

(12) Use "break to stop loop when number is 5.

In [ ]:
for i in range(1, 11):
  print(i)
  if i == 5:
    break

1
2
3
4
5

(13) Print 1 to 10 and use continue to skip printing 5.

In [ ]:
for i in range(1, 11):
  if i == 5:
    continue
print(i)

10

(14) Print all elements in a list using a loop.

In [ ]:
my_list = [1, 2, 3, 4, 5, 'apple', 'banana', 'cherry']
for i in my_list:
  print(i)

1
2
3
4
5
apple
banana
cherry

(15) Check if a number is divisible by both 3 and 5.

In [ ]:
n = 30
if n % 3 == 0 and n % 5 == 0:
  print(f"{n} is divisible by both 3 and 5.")
else:
  print(f"{n} is not divisible by both 3 and 5.")

30 is divisible by both 3 and 5.

(16) Square of all numbers from 1 to 5.

In [ ]:
for i in range(1, 6):
  j=i**2
  print(f"Square of {i} = {j}")

Square of 1 = 1
Square of 2 = 4
Square of 3 = 9
Square of 4 = 16
Square of 5 = 25

(17)Print ASCII values of characters in a string.

In [ ]:
x = "Madhu"
for char in x:
  print(f"The ASCII value of '{char}' is {ord(char)}")

The ASCII value of 'M' is 77
The ASCII value of 'a' is 97
The ASCII value of 'd' is 100
The ASCII value of 'h' is 104
The ASCII value of 'u' is 117

(18) Count down from 10 to 1 using while.

In [ ]:
i = 10
while i >= 1:
  print(i)
  i -= 1

10
9
8
7
6
5
4
3
2
1

(19) Check if a number is divisible by 2 or 3.

In [ ]:
n = 6
if n % 2 == 0 or n % 3 == 0:
  print(f"{n} is divisible by 2 or 3.")
else:
  print(f"{n} is not divisible by 2 or 3.")

6 is divisible by 2 or 3.

(20) Print sum of digits of a number.

In [ ]:
num = 72076091
sum = 0
temp = num
while temp > 0:
   digit = temp % 10
   sum += digit
   temp //= 10
print(f"The sum of digits of {num} is: {sum}")

The sum of digits of 72076091 is: 32

(21) Swap two numbers using a temporary variable.

In [ ]:
x = 10
y = 20

print(f"Before swapping: x = {x}, y = {y}")

temp = x
x = y
y = temp

print(f"After swapping: x = {x}, y = {y}")

Before swapping: x = 10, y = 20
After swapping: x = 20, y = 10

(22)Print numbers from 1 to 100 that are divisible by 7.

In [ ]:
for i in range(1, 101):
  if i % 7 == 0:
    print(i)

7
14
21
28
35
42
49
56
63
70
77
84
91
98

(23) Find the factorial of a number.

In [ ]:
def fact(n):
  if n == 0:
    return 1
  else:
    return n * fact(n - 1)

x = 5
print(f"The factorial of {x} is: {fact(x)}")

The factorial of 5 is: 120

(24) Count vowels in a string.

In [ ]:
def count_vowels(s):
  vowels = "aeiouAEIOU"
  vowel_count = 0
  for char in s:
    if char in vowels:
      vowel_count += 1
  return vowel_count

my_string = "This is a sample string"
num_vowels = count_vowels(my_string)
print(f"The number of vowels in '{my_string}' is: {num_vowels}")

The number of vowels in 'This is a sample string' is: 6

(25) Reverse a number using loop.

In [ ]:
n = 76072
reverse = 0

while n > 0:
    digit = n % 10
    reverse = reverse * 10 + digit
    n //= 10

print(f"The reversed number is: {reverse}")

The reversed number is: 27067

(26) Find the maximum in a list using loop.

In [ ]:
numbers = [12, 45, 6, 89, 23, 7, 50]
max = numbers[0]

for num in numbers:
    if num > max:
        max = num

print(f"The maximum number in the list is: {max}")

The maximum number in the list is: 89

(27) Prime number check using loop.

In [ ]:
def is_prime(n):
  if n <= 1:
    return False
  for i in range(2, int(n**0.5) + 1):
    if n % i == 0:
      return False
  return True

num = 17
if is_prime(num):
  print(f"{num} is a prime number.")
else:
  print(f"{num} is not a prime number.")

num = 15
if is_prime(num):
  print(f"{num} is a prime number.")
else:
  print(f"{num} is not a prime number.")

17 is a prime number.
15 is not a prime number.

(28) Sum of even numbers in a list.

In [ ]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
sum = 0

for num in numbers:
  if num % 2 == 0:
    sum += num

print(f"The sum of even numbers in the list is: {sum}")

The sum of even numbers in the list is: 30

(29) Print number pattern using nested loops.

In [ ]:
rows = 5
for i in range(1, rows + 1):
    for j in range(1, i + 1):
        print(j, end=" ")
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

(30) Count frequency of digits in a number.

In [ ]:
num = 760720552944
digit_counts = {}
num_str = str(num)
for digit in num_str:
  if digit in digit_counts:
    digit_counts[digit] += 1
  else:
    digit_counts[digit] = 1
print(f"Frequency of digits in {num}:")
for digit, count in digit_counts.items():
  print(f"Digit {digit}: {count}")

Frequency of digits in 760720552944:
Digit 7: 2
Digit 6: 1
Digit 0: 2
Digit 2: 2
Digit 5: 2
Digit 9: 1
Digit 4: 2

(31) GCD of two numbers using loop.

In [ ]:
def gcd_loop(a, b):
    minimum = min(a, b)

    for i in range(minimum, 0, -1):
        if a % i == 0 and b % i == 0:
            return i
    return 1

x = 48
y = 18
result = gcd_loop(x, y)
print(f"The GCD of {x} and {y} using a loop is: {result}")

The GCD of 48 and 18 using a loop is: 6

(32) Check if a number is a palindrome.

In [ ]:
def is_palindrome(n):
  num_str = str(n)
  return num_str == num_str[::-1]

x = 1234321
if is_palindrome(x):
  print(f"{x} is a palindrome.")
else:
  print(f"{x} is not a palindrome.")

1234321 is a palindrome.

(33) Count words in a sentence.

In [ ]:
sentence = "Hii!! This is the code for Count words in a sentence."
words = sentence.split()
word_count = len(words)
print(f"The sentence is: '{sentence}'")
print(f"The number of words in the sentence is: {word_count}")

The sentence is: 'Hii!! This is the code for Count words in a sentence.'
The number of words in the sentence is: 11

(34) Find common elements in two lists.

In [ ]:
l1 = [1, 2, 3, 4, 5]
l2 = [4, 5, 6, 7, 8]
common_elements = list(set(l1) & set(l2))
print(f"List 1: {l1}")
print(f"List 2: {l2}")
print(f"Common elements: {common_elements}")

List 1: [1, 2, 3, 4, 5]
List 2: [4, 5, 6, 7, 8]
Common elements: [4, 5]

(35) Use elif to grade students based on score.

In [ ]:
score = 75

if score >= 90:
  grade = 'A'
elif score >= 80:
  grade = 'B'
elif score >= 70:
  grade = 'C'
elif score >= 60:
  grade = 'D'
else:
  grade = 'F'

print(f"With a score of {score}, the student's grade is: {grade}")

With a score of 75, the student's grade is: C

(36) Print a right-angled triangle using *.

In [ ]:
rows = 5
for i in range(1, rows + 1):
    print("*" * i)

*
**
***
****
*****

(37) Check if a year is a leap year.

In [ ]:
year = 2024
if (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0):
  print(f"{year} is a leap year.")
else:
  print(f"{year} is not a leap year.")

2024 is a leap year.

(38) Print Fibonacci series using loop.

In [ ]:
n = 10
a = 0
b = 1

print("Fibonacci series:")
count = 0

if n <= 0:
  print("Please enter a positive integer")
elif n == 1:
  print(a)
else:
  while count < n :
    print(a)
    temp = a + b
    a = b
    b = temp
    count += 1

Fibonacci series:
0
1
1
2
3
5
8
13
21
34

(39) Count uppercase and lowercase letters in a string.

In [ ]:
s = "This String Has Upper and Lowercase Letters!"
uppercount = 0
lowercount = 0

for char in s:
  if 'A' <= char <= 'Z':
    uppercount += 1
  elif 'a' <= char <= 'z':
    lowercount += 1

print(f"The string is: '{s}'")
print(f"Number of uppercase letters: {uppercount}")
print(f"Number of lowercase letters: {lowercount}")

The string is: 'This String Has Upper and Lowercase Letters!'
Number of uppercase letters: 6
Number of lowercase letters: 31

(40) Print numbers from 100 to 1 using loop.

In [ ]:
for i in range(100, 0, -1):
  print(i)

100
99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1